* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: "Roboto Slab", serif;
    color: rgb(0, 0, 0);
}

header {
    height: 150px;
}

.topnav {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    background-image: url(../img/mur.webp);
    background-size: cover;
}

.pochette {
    height: 90%;
    margin-right: 2%;
}

.p-icon {
    height: 90%;
    margin-left: 2%;
}

.icon {
    height: 100%;
    aspect-ratio: 1/1;
}

.album {
    height: 100%;
    aspect-ratio: 1/1;
}

.cover {
    display: none;
}

.coverAlt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    overflow-y: auto;
}

.skill,
.me,
.cv,
.contact {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.a_cover {
    background-color: rgb(255 255 255 / 77%);
    border-radius: 8px;
    width: auto;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 5%;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
}

.skill {
    background-image: url(../img/skill.webp);
}

.me {
    background-image: url(../img/logo.webp);
    background-color: brown;
}

.cv {
    background-image: url(../img/cv.webp);
}

.contact {
    background-image: url(../img/contact.webp);
}

main {
    height: 1000px;
}

.p-bois {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: auto;
    top: 0;
}

.bois {
    height: 100%;
    width: 100%;
}

.super-table {
    position: relative;
    z-index: auto;
    background-image: url(../img/bois.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%
}

.table {
    display: flex;
    height: 48%;
    width: 100%;
    max-height: max-content;
    justify-content: center;
    align-items: center;
}

.p-plateau {
    position: relative;
    z-index: 2;
    height: 24%;
    margin-bottom: 45%;
    margin-top: 11%;
}

.plateau {
    height: 228%;
    aspect-ratio: 1/1;
}

.cible {
    height: 67px;
    width: 65px;
    position: absolute;
    top: 80%;
    left: 38%;
}

.p-disqueN0 {
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 3;
}

.p-disque_skill {
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 3;
}

.p-disque_cv {
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 3;
}

.p-disque_me {
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 3;
}

.p-disque_contact {
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 3;
}

.disqueN0,
.disque_cv,
.disque_me,
.disque_contact {
    height: 222%;
    aspect-ratio: 1/1;
}

.disque_skill {
    height: 228%;
    width: 224%;
}

.cible2 {
    height: 70px;
    width: 47px;
    position: absolute;
    top: 71%;
    left: 41%;
}

.p-bras {
    height: 24%;
    margin-bottom: 45%;
    margin-top: 11%;
    position: relative;
    z-index: 4;
}

.bras {
    height: 170%
}

p,
h1 {
    opacity: 0;
}

@media (min-width: 1024px) {
    .super-table {
        display: none;
    }

    .topnav {
        display: none;
    }

    * {
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
        font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
        --fg: #0099ff;
        --primary: #0099ff;
        --bg: #e3e4e8;
    }

    body {
        background: var(--bg);
        display: grid;
        font: 1em/1.5 sans-serif;
        height: 100vh;
        place-items: center;
    }

    .sablier,
    .sablier:before,
    .sablier:after {
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .sablier {
        --polygonH: polygon(0% 0%, 100% 0%, 100% 5.55%, 95% 5.55%, 95% 28%, 60% 46%, 60% 54%, 95% 72%, 95% 94.45%, 100% 94.45%, 100% 100%, 0% 100%, 0% 94.45%, 5% 94.45%, 5% 72%, 40% 54%, 40% 46%, 5% 28%, 5% 5.55%, 0% 5.55%);
        animation-name: flip;
        animation-timing-function: ease-in-out;
        background-image: linear-gradient(var(--primary) 0.5em, #737a8c55 0.5em 8.5em, var(--primary) 8.5em);
        clip-path: var(--polygonH);
        -webkit-clip-path: var(--polygonH);
        overflow: hidden;
        position: relative;
        width: 5em;
        height: 9em;
        z-index: 0;
    }

    .sablier:before,
    .sablier:after {
        animation-timing-function: linear;
        content: "";
        display: block;
        position: absolute;
    }

    .sablier:before {
        --polygonB1: polygon(0% 0%, 100% 0%, 100% 24%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 0% 24%);
        --polygonB2: polygon(0% 4%, 100% 4%, 100% 24%, 55% 45%, 55% 100%, 55% 100%, 55% 100%, 45% 100%, 45% 100%, 45% 100%, 45% 45%, 0% 24%);
        --polygonB3: polygon(0% 24%, 100% 24%, 100% 24%, 55% 45%, 55% 80%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 45% 80%, 45% 45%, 0% 24%);
        --polygonB4: polygon(45% 45%, 55% 45%, 55% 45%, 55% 45%, 55% 58%, 100% 76%, 100% 100%, 0% 100%, 0% 76%, 45% 58%, 45% 45%, 45% 45%);
        --polygonB5: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 50% 53%, 100% 76%, 100% 100%, 0% 100%, 0% 76%, 50% 53%, 50% 53%, 50% 53%);
        animation-name: fill;
        background-color: var(--fg);
        background-size: 100% 3.6em;
        clip-path: var(--polygonB1);
        -webkit-clip-path: var(--polygonB1);
        top: 0.5em;
        left: 0.5em;
        width: 4em;
        height: 8em;
        z-index: 1;
    }

    .sablier:after {
        animation-name: glare;
        background:
            linear-gradient(90deg, #0000 0.5em, #0003 0.5em 1.5em, #0000 1.5em 3.5em, #fff3 3.5em 4.5em, #fff0 4.5em 6.5em, #0003 6.5em 7.5em, #0000 7.5em) 0 0 / 100% 0.5em,
            linear-gradient(90deg, #0000 0.75em, #0003 0.75em 1.25em, #0000 1.25em 3.75em, #fff3 3.75em 4.25em, #fff0 4.25em 6.75em, #0003 6.75em 7.25em, #0000 7.25em) 0 0.5em / 100% 8em,
            linear-gradient(90deg, #0000 0.5em, #0003 0.5em 1.5em, #0000 1.5em 3.5em, #fff3 3.5em 4.5em, #fff0 4.5em 6.5em, #0003 6.5em 7.5em, #0000 7.5em) 0 100% / 100% 0.5em;
        background-repeat: repeat-x;
        top: 0;
        left: -3em;
        width: 200%;
        height: 100%;
        z-index: 2;
    }

    /* Animation */
    @keyframes fill {
        from {
            clip-path: var(--polygonB1);
            -webkit-clip-path: var(--polygonB1);
        }

        10% {
            clip-path: var(--polygonB2);
            -webkit-clip-path: var(--polygonB2);
        }

        45% {
            clip-path: var(--polygonB3);
            -webkit-clip-path: var(--polygonB3);
        }

        80% {
            clip-path: var(--polygonB4);
            -webkit-clip-path: var(--polygonB4);
        }

        85%,
        to {
            clip-path: var(--polygonB5);
            -webkit-clip-path: var(--polygonB5);
        }
    }

    @keyframes glare {

        from,
        90% {
            transform: translateX(0);
        }

        to {
            transform: translateX(3em);
        }
    }

    @keyframes flip {

        from,
        90% {
            transform: rotate(0);
        }

        to {
            transform: rotate(180deg);
        }
    }

    /* Mode nuit */
    @media (prefers-color-scheme: dark) {
        :root {
            --bg: #17181c;
            --fg: #c7cad1;
        }
    }
}